{% extends 'base.html'%}

{% block content %}
{% load static %}
<section class="site-banner jarallax min-height300 padding-large" style="background: url({% static "images/shop_banner.jpg" %}) no-repeat; background-position: top;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Shop page</h1>
        <div class="breadcrumbs">
          <span class="item">
            <a href="{% url 'index' %}">Home /</a>
          </span>
          <span class="item">Shop</span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="shopify-grid padding-large">
  <div class="container">
    <div class="row">

      <section id="selling-products" class="col-md-9 product-store">
        <div class="container">
          <ul class="tabs list-unstyled">
            <li data-tab-target="#all" class="active tab">All</li>
            
          </ul>
          <div class="tab-content">
            <div id="all" data-tab-content class="active">
              <div class="row d-flex flex-wrap">

                {% for prod in prods%}
                <div class="product-item col-lg-4 col-md-6 col-sm-6">
                  <div class="image-holder">
                    <img src="{{prod.image.url}}" alt="Books" class="product-image">
                  </div>
                  <div class="cart-concern">
                    <div class="cart-button d-flex justify-content-between align-items-center">
                      <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i>
                      </button>
                      <button type="button" class="view-btn tooltip
                          d-flex">
                        <i class="icon icon-screen-full"></i>
                        <span class="tooltip-text">Quick view</span>
                      </button>
                      <button type="button" class="wishlist-btn">
                        <i class="icon icon-heart"></i>
                      </button>
                    </div>
                  </div>
                  <div class="product-detail">
                    <h3 class="product-title">
                      <a href="single-product.html">{{prod.name}}</a>
                    </h3>
                    <div class="item-price text-primary">{{prod.price}}</div>
                  </div>
                </div>
                {%endfor%}
                </div>
              </div>
            </div>
            <div class="pagination">
              <
          </div>
            </div>
          </div>
          <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
            <div class="pagination loop-pagination d-flex justify-content-center">
              <span class="step-links">
                  {% if prods.has_previous %}
                      <a href="?page=1">&laquo; first  &nbsp;&nbsp; </a>
                      <a href="?page={{ prods.previous_page_number }}">previous&nbsp;&nbsp;&nbsp;</a>
                  {% endif %}
          
                  <span class="current">
                      Page {{ prods.number }} of {{ prods.paginator.num_pages }}.
                  </span>
          
                  {% if prods.has_next %}
                      <a href="?page={{ prods.next_page_number }}">&nbsp;&nbsp;&nbsp;next</a>
                      <a href="?page={{ prods.paginator.num_pages }}">&nbsp;&nbsp;last &raquo;</a>
                  {% endif %}
              </span>
            </div>
          </nav>
        </div>
      </section>
      
    </div>        
  </div>      
</div>

<hr>

{% endblock %}
